body{
	background: #fff;
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-weight: 400;
	line-height: 1.4;
}
a{
	cursor: pointer;
}
.intro{
	margin: 50px 0px;
}
.intro-logo{
	width: 90px;
	height: 90px;
}
.intro-header{
	margin: 10px 0px;
	color: #222;
	font-size: 40px;
	font-weight: 900;
}
.intro-sub-header{
	margin: 0px 0px 20px 0px;
	color: #666;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4;
}
.btn{
	padding: 15px 30px;
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
	color: #222;
	background: #fff;
	display: inline-block;
	border-radius: 4px;
	position: relative;
}
.btn-primary{
	top: 0px;
	border: 1px solid #ddd;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
	transition: all 0.1s ease-in;
}
.news-grid{
	margin-bottom: 50px;
}
.card{
	display: block;
	width: calc(50% - 15px);
	background: #98CBFB;
	border-radius: 8px;
	/*box-shadow: 0px 4px 15px rgba(0,0,0,0.1);*/
	box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
	padding: 30px;
	margin: 0px 0px 30px 0px;
	position: relative;
	top: 0px;
	transition: all 0.1s ease-in;
	text-decoration: none;
	overflow: hidden;
}
/*.btn-primary:hover{
	top: -5px;
}*/
.card .title{
	font-size: 24px;
	line-height: 1.4;
	font-weight: 600;
	color: #222;
	margin: 0px 0px 30px 0px;
}
.card .date{
	margin: 0px 0px 15px 0px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
    font-size: 16px;
}
.circle-1{
    border: 35px solid #fff;
    opacity: 0.2;
    height: 150px;
    width: 150px;
    border-radius: 1000px;
    position: absolute;
    left: -50px;
    top: -40px;
}
.circle-2{
    border: 35px solid #fff;
    opacity: 0.175;
    height: 150px;
    width: 150px;
    border-radius: 1000px;
    position: absolute;
    right: -80px;
    bottom: 20%;
}

@media(max-width: 800px){
	.card{
		width: 100%;
		margin-bottom: 20px;
	}
	.intro-logo {
	    width: 60px;
	    height: 60px;
	}
	.intro-header {
    	font-size: 28px;
	}
	.intro-sub-header {
    	font-size: 17px;
	}
	.card .title{
		font-size: 20px;
	}
	.intro {
	    margin: 30px 0px;
	}
}