body{
	background: #fff;
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-weight: 400;
	line-height: 1.4;
}
body *{
	outline: none;
}
a{
	cursor: pointer;
	text-decoration: none;
}
textarea{
	resize: none;
}
.intro{
	margin: 50px 0px;
}
.intro-logo{
	width: 90px;
	height: 90px;
}
.intro-header{
	margin: 10px 0px;
	color: #222;
	font-size: 40px;
	font-weight: 900;
}
.intro-sub-header{
	margin: 0px 0px 20px 0px;
	color: #666;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4;
}
.btn{
	padding: 15px 30px;
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
	color: #222;
	background: #fff;
	display: inline-block;
	border-radius: 4px;
	position: relative;
	cursor: pointer;
}
.btn-primary{
	top: 0px;
	border: 1px solid #e0e0e0;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
	transition: all 0.1s ease-in;
}
.btn-block{
	display: block;
}
.news-grid{
	margin-bottom: 50px;
}
.card{
	display: block;
	width: calc(50% - 15px);
	background: #98CBFB;
	border-radius: 8px;
	/*box-shadow: 0px 4px 15px rgba(0,0,0,0.1);*/
	box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
	padding: 30px;
	margin: 0px 0px 30px 0px;
	position: relative;
	top: 0px;
	transition: all 0.1s ease-in;
	text-decoration: none;
	overflow: hidden;
}
.btn-primary:hover, .card:hover{
	box-shadow: 0px 6px 20px rgba(0,0,0,0.125);
}
/*.btn-primary:hover{
	top: -5px;
}*/
.card .title{
	font-size: 24px;
	line-height: 1.3;
	font-weight: 600;
	color: #222;
	margin: 0px 0px 40px 0px;
}
.card .date{
	margin: 0px 0px 15px 0px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
    font-size: 16px;
}
.circle-1{
    border: 35px solid #fff;
    opacity: 0.15;
    height: 150px;
    width: 150px;
    border-radius: 1000px;
    position: absolute;
    left: -50px;
    top: -40px;
}
.circle-2{
    border: 35px solid #fff;
    opacity: 0.1;
    height: 150px;
    width: 150px;
    border-radius: 1000px;
    position: absolute;
    right: -80px;
    bottom: 20%;
}
.modal-state-2 img{
	max-width: 90px;
	margin-bottom: 20px;
}
.modal-state-2 .modal-title{
	margin-bottom: 10px;
}
.hide{
	display: none;
}
.align-right{
	text-align: right;
}
.center{
	text-align: center;
}


/* Modal Styles */

.modal {
	position: relative;
	z-index: -90;
	opacity: 0;
	transition: all 0.15s ease-in-out;
}
.show {
	z-index: 999;
	opacity: 1;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.95);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container {
	background-color: #fff;
    padding: 30px;
    margin-top: -80px;
    width: 640px;
    max-height: 100vh;
    border-radius: 10px;
    overflow-y: hidden;
    box-sizing: border-box;
    box-shadow: 0px 0px 80px rgba(0,0,0,0.1);
}
.modal-close {
    background: transparent;
    border: 0;
    cursor: pointer;
}
.modal-close:before {
    content: "\2715";
    color: #777;
}
.modal-title{
	font-size: 24px;
	font-weight: 700;
	color: #333;
	margin: 0px 0px 20px 0px; 
}
.modal-desc{
	font-size: 16px;
	color: #666;
	margin: 0px 0px 20px 0px;
}
.modal-desc-error{
	color: #F0001D;
}
.form-control{
	width: 100%;
	font-size: 16px;
	color: #333;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
input[type="text"].form-control{
	height: 48px;
}
textarea.form-control{
	margin-bottom: 15px !important
}
.footer-quote {
	margin: -10px 0px 70px 0px;
}
.footer-quote p{
	font-size: 18px;
	color: #666;
}
.footer-quote .author-info{
	margin: 40px 0px 10px 0px;
	font-size: 15px;
	color: #aaa;
}

/* End of Modal Styles */

.news-grid-loader{
	margin: 50px 0px 50px 0px;
}
.news-grid-loader .intro-sub-header{
	font-size: 18px;
	color: #aaa;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 1000px;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.2s infinite ease-in-out;
  animation: load7 1.2s infinite ease-in-out;
}
.loader {
  color: #cccccc;
  font-size: 4px;
  margin: 0px 0px 0px 30px;
  display: inline-block;
  position: relative;
  top: -11px;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader-white{
	color: #fff;
	position: relative;
	top: -5px;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


@media(max-width: 800px){
	.container{
		padding-left: 20px;
		padding-right: 20px;
	}
	.card{
		width: 100%;
		margin-bottom: 20px;
	}
	.intro-logo {
	    width: 60px;
	    height: 60px;
	}
	.intro-header {
    	font-size: 28px;
	}
	.intro-sub-header {
    	font-size: 17px;
	}
	.card .title{
		font-size: 20px;
	}
	.intro {
	    margin: 30px 0px;
	}
	.modal-container{
		min-height: 100vh;
		border-radius: 0px;
		margin-top: 0px;
		padding: 50px 20px;
	}
	.modal-container .btn{
		display: block;
		width: 100%;
	}
	.news-grid-loader .intro-sub-header{
		font-size: 16px;
	}
	.footer-quote p {
	    font-size: 16px;
	}
	.footer-quote .author-info {
	    font-size: 14px;
	    margin: 30px 0px 10px 0px;
	}
}